*{
    padding: 0px;
    margin: 0px;
    font-family: "Sora", system-ui;
}

body{
    background-color: #111315;
    color: #FEF7EE;
    cursor: pointer;
}

img{
    width: 100%;
}

div{
    background-color: #1B1D1F;
    position: relative;
    bottom: 173px;
    margin-right: 7%;
    margin-left: 7%;
    border-radius: 10px;
    padding-bottom: 10%;
}

h1{
    padding-right: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.align{
    width: 35%;
    padding-left: 34%;
    text-align: center;
    color: #6F757C;
}

.vector{
    width: 20%;
    padding-left: 50%;
    padding-top: 30px;
    position: static;
}

#padd{
    position: relative;
    bottom: 100px;
}

nav{
    display: flex;
    padding-left: 42%;
    padding-top: 20px;
    gap: 20px;
    
}

.one-container{
    background-color: #6F757C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.two-container{
    padding-top: 5px;
}

.one-base{
    width: 20%;
    border-radius: 10px;
}

.padd{
    width:28%;
    border-radius: 10px;
}

footer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 15%;

}