*{
    padding: 0px;
    margin: 0px;
    font-family: "Sora", system-ui;
}

body{
    background-color: #111315;
    color: #FEF7EE;
    cursor: pointer;
}

img{
    width: 100%;
}

div{
    background-color: #1B1D1F;
    position: relative;
    bottom: 173px;
    margin-right: 7%;
    margin-left: 7%;
    border-radius: 10px;
}

svg{
    padding-top: 20px;
    padding-left: 50%;
}

.in-container{
    position: absolute;
    padding-left: 22%;
    width: 40%;
    top: 65px;
    text-align: center;


}

h1{
    padding-left: 40px;
}

.align{
    padding-top: 20px;
    color: #6f757c;
}

